*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F1F7ED;
    font-family: 'Karla', sans-serif;
}

.divide{
    display: flex;
}

.left img{
    position: fixed;
    width: 20%;
    left: 0;
    bottom: 0;
}

.left #left{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    outline: 1.5px solid black;
    height: auto;
    width: 390px;
    margin-left: 40px;
    gap: 6px;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 18px;
}

.left input[type="text"], input[type="date"]{
    background-color: transparent;
    border: none;
    padding: 5px;
    font-size: 18px;
}

.left select{
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.left input[type="text"]::placeholder, input[type="date"]::placeholder{
    color: black;
}

.date, .dear{
    display: flex;
}

#i13{
    font-size: 18px;
    font-weight: 550;
    font-family: 'Karla', sans-serif;
    margin-top: 4px;
    margin-left: 5px;
}

#i7{
    font-size: 18px;
    font-weight: 550;
    font-family: 'Karla', sans-serif;
    margin-top: 3.5px;
    margin-left: 5px;
}

.msg{
    height: 80px;
}

.letter textarea{
    padding: 5px;
    width: 100%;
    border: none;
    font-family: 'Karla', sans-serif;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: transparent;
    font-size: 16px;
}

#charcount{
    margin-left: 5px;
}

.letter textarea::placeholder{
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

.right img{
    position: fixed;
    width: 20%;
    right: 0;
    top: 0;
}

.right{
    width: 55%;
    margin-left: 50px;
}


.paper, .calligraphy, .color{
    border-radius: 10px;
    background: linear-gradient(176deg, rgba(124, 169, 130, 0.40) 0%, rgba(124, 169, 130, 0.20) 100%);
    backdrop-filter: blur(50px);
    margin-bottom: 15px;
    border: 1.3px solid rgb(94, 104, 100);
    padding: 10px;
}

.paper select, .calligraphy select{
    width: 90%;
    background-color: rgba(124, 169, 130, 0.80);
    border: 1px solid #243E36;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.paper button{
    background-color: rgba(124, 169, 130, 0.80);
    outline: none;
    border: none;
    padding: 7px;
    margin-left: 10px;
    margin-top: 7px;
    border-radius: 2px;
}

.paper button:hover{
    background-color: #243E36;
    color: white;
}

.right a button{
    background-color: #243E36;
    color: white;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

.right a button:hover{
    background-color: #2d584b;
    cursor: pointer;
}

.color input[type="radio"]{
    margin-left: 10px;
}

.color input{
    accent-color: #8FC0A9;
    vertical-align: middle;
}

.color button{
    background-color: rgba(124, 169, 130, 0.80);
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 2px;
    margin-left: 5px;
    margin-top: 10px;
}

.color button:hover{
    background-color: #243E36;
    color: white;
}